services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ratemy
      POSTGRES_PASSWORD: ratemy
      POSTGRES_DB: ratemy
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
