ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }

 /* Navigation Area */ 
  nav {
    background-color: #FFBD59;
    color: white;
    padding: .9rem;
  }

  #links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #grouped-links {
    margin-top: auto;
    margin-bottom: auto;
}

  #links a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 10px;
    color: #FFF;
    text-align: left;
  }

  #links a:hover {
    color: #bd8b41;
  }

  nav #corner-logo {
    color: #4F83E9;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-align: right;
    position: relative;
    display: inline-block;
  }

 /* Body */ 
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height:100%;
  }

html {
  height:100%;
}


#spacer-top {
    height: 1rem;
}

 /* Searchbar */ 
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="search"] {
  width: 50rem;
  height: 50px;
  padding: 10px;
  margin-top: 2px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

#title {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  color: #000;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

h3 {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

#link-parent {
  display: block;
  font-family: Roboto;
  display: flex;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  min-height: 500px;
  overflow: hidden;
}

li {
  margin-top: 10px;
  font-size: 20px;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #4F83E9;
}

/* Footer */ 
footer {
    background-color: hsl(36, 100%, 67%);
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 50px 0;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  footer a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 5px 10px;
    display: inline-block;
  }

  footer a:hover {
    color: #bd8b41;
  }

  footer p {
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
  }

#copy {
  margin-top: 20px;
}