ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }

 /* Navigation Area */ 
  nav {
    background-color: #FFBD59;
    color: white;
    padding: .9rem;
  }

  #links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #grouped-links {
  margin-top: auto;
  margin-bottom: auto;
}

  #links a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 10px;
    color: #FFF;
    text-align: left;
  }

  #links a:hover {
    color: #bd8b41;
  }

  nav #corner-logo {
    color: #4F83E9;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 800;
    text-align: right;
    position: relative;
    display: inline-block;
  }

 /* Body */ 
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

#spacer {
    height: 17rem;
}


 /* Searchbar */ 
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="search"] {
  width: 50rem;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

#title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 25px;
  padding: 20px;
}

.searchspace {
    background-image: url("https://drexel.edu/studentlife/~/media/Drexel/EMSS-Site-Group/StudentLife/Images/campus-living/dining/dining/dining_160x53.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-color: rgba(14, 14, 14, 0.575);
    background-blend-mode: multiply;
}

/* Sign Up Area */ 
.signup-container {
  height: 100%;
  padding: 20px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 200px;
}

#signupbutt {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 800;
  font-family: Poppins;
  width: 300px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color:  hsl(36, 100%, 67%);
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#signupbutt:hover {
  background-color:  #bd8b41;
}

#signuptitle {
  font-size: 32px;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

h3 {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}


/* Footer */ 
footer {
    background-color: hsl(36, 100%, 67%);
    color: white;
    text-align: center;
    padding: 50px 0;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  footer a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 5px 10px;
    display: inline-block;
  }

  footer a:hover {
    color: #bd8b41;
  }

  footer p {
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
  }

#copy {
  margin-top: 20px;
}