
  .card {
    width: 500px;
    height: 300px;
    background: #fff;
    margin-left: 40px;
    padding: 1rem;
    box-shadow: 0 0 5px #363636;
    border-radius: 0.5rem;
    text-align: center;
  }
   
  .star {
    font-size: 60px;
    cursor: pointer;
    margin-top: 30px;
  }

  .one, .two, .three, .four, .five {
    color: #4F83E9;
  }

#output {
  font-size: 30px;
}

#comment-form {
    margin-bottom: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#titles {
  margin-left: 40px;
}

 /* Navigation Area */ 
  nav {
    background-color: #FFBD59;
    color: white;
    padding: .9rem;
  }

  #links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #grouped-links {
    margin-top: auto;
    margin-bottom: auto;
}

  #links a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 10px;
    color: #FFF;
    text-align: left;
  }

  #links a:hover {
    color: #bd8b41;
  }

  nav #corner-logo {
    color: #4F83E9;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-align: right;
    position: relative;
    display: inline-block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }

 /* Body */ 

#college-name {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
}

#college-subtitle {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 35px;
  font-size: 30px;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

#spacer {
    height: 10rem;
}

#spacer-top {
    height: 1rem;
}

h3 {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

/* Comment Section */

#comment-list {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

label {
  display: inline-block;
  text-align: right;
  margin: 10px;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

#comment-title {
  text-align: right;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  margin-right: 40px;
  margin-bottom: 5px;
}

hr {
  border: 0;
  margin: 0;
  width: 100%;
  display: block;              
  background-color:#818181;
  height: 1px;
}

#inputs {
  background-color: #d2d2d2;
  margin: 40px;
  border-radius: 15px;
}

input {
  font-family: Roboto, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: #d2d2d2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

textarea {
  font-family: Roboto, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: #d2d2d2;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  border: none;
}

button {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 800;
  font-family: Poppins;
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color:  #4F83E9;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #395ca3;
}

/* Footer */ 
footer {
    background-color: hsl(36, 100%, 67%);
    color: white;
    text-align: center;
    padding: 50px 0;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  footer a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 5px 10px;
    display: inline-block;
  }

  footer a:hover {
    color: #bd8b41;
  }

  footer p {
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
  }

#copy {
  margin-top: 20px;
}