body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: hsl(36, 100%, 67%);
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

body #corner-logo {
    color: #4F83E9;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 800;
    text-align: right;
    position: fixed;  /* Use fixed positioning */
    top: 20px;
    right: 20px;
    display: inline-block;
  }
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.signup-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    background-color: #fff;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 0.1px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-top: 2.5px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color:  hsl(36, 100%, 67%);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #bd8b41;
}


a {
    text-align: center;
    display: inline-flex;
    margin-top: 10px;
    font-size: .8rem;
    color: black;
}